{{ partial "header" . }}
{{ partial "navigation" . }}
<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Seattle Based Web Developer</h1>
            <hr>
            <p>I've been building websites for 15 years. I specialize in JavasScript, CSS, HTML, Java, PHP, Web Accessability, and performance.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
{{ partial "footer" . }}
